
/* RESPONSIVE MODO TABLET */
@media (max-width: 900px){

    .container{
        gap: 10px;
    }

header .logo{
   font-size: 23px;
}



.navbar-list{
    position: absolute;
    top: 65px;
    left: 20%;
    right: 7%;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgba(146, 91, 3, 0.834);
    border: 2px solid rgba(252, 199, 24, 0.712);
    border-top: 0px;
    border-radius: 0px 0px 15 15px;
    align-items: flex-end;
    padding: 25px 30px;
    gap: 20px;
    z-index: 2;
    display: none;

}

.navbar-list a{
    display: flex;
    font-size: 40px;
    color: rgb(255, 253, 240);
    justify-content: space-around;
}


/* ICONO DE MENU */

.menu-label{
    display: flex;
    order: 2;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-color: rgb(238, 223, 86);
    flex-wrap: nowrap;
}

.menu-label img{
    width: 80px;
    height: 80px;
}


#menu-toggle:checked + 
.navbar-list {
    display: flex;
}

h1{
    font-size: 65px;
}

#hero button{
    font-size: 20px;
    background-color: rgb(202, 206, 209);
    color: black;

}

#hero a{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.texto img{
    display: none
}

.texto p{
    width: 500px;
}

.texto{
    gap: 5px
    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nuestros-servicios .carta{
    width: 500px;
    height: 600px;
}

.card{
    background-color: antiquewhite;
    height: 400px;
}

h3{
    font-size: 40px;
}

#nuestros-servicios p{
    margin: 10px;
    font-size: 25px;
}

h4{
    font-size: 20px;
}

.card p{
    font-size: 14px;
}

.info-contacto{
    font-size: 22px;
}

iframe{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.medios-comunicacion p {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

.medios-comunicacion img{
    height: 50px;
    width: 50px;
}

.medios-comunicacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}
#formulario{
    padding: 10px;
}

#formulario form{
    display: flex;
    width: 280px;
    text-align: center;
}

#formulario form label{
    color: black;
}

#formulario input{
    width: 250px;
}

h6{
    font-size: 25px;
}


footer{
    font-size: 18px;
}
}

/* MEDIAQUERI PAGINA REGISTRO MODO TABLET 990PX MAX */
@media (max-width: 990px) {
 
    #registro{
        font-size: 15px;
        padding: 25px ;
    }

    #registro h1{
        font-size: 25px;
    }

    form{
        font-size: 18px;
    }
    input{
        width: 180px;
        background-color: antiquewhite;
    }
   
}

/* MEDIAQUERIE MOBILE PAGINA REGISTRO */

@media (max-width: 500px){
    #registro h1{
        padding: 15px;
        margin: 20px;
        font-size: 30px;
    }
    .form-registro{
        height: 40vh;
        font-size: 15px;
    }
    .form-registro input{
        width: 250px;
        height: 30px;
    }
    .form-registro label{
        color: white;
        text-shadow: 2px solid;
    }
}

/* PAGINA INICIO SESIÓN MEDIAQUERIE 990PX */

@media (max-width: 990px) {
    #inicio{
        padding: 50px;
        height: 75vh;
    }
}

/* pagina inicio sesion mobile max500px */

@media (max-width: 500px) {
    #inicio h1{
        font-size: 40px;
    }
}



/* PAGINA MOBILE INDEX */

@media(max-width:500px){
    header .container{
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
    }
    header .logo{
        background-color: transparent;
    }
    .menu-label{
        margin: 0;
        padding: 0;
    }
    .menu-label img{
        background-color: none;
    }
    .navbar-list{
        font-size: 20px;
        align-items: center;
        text-align: center;
        top: 70px;
    }

    .navbar-list a{
        font-size: 25px;
    }

     h1{
        font-size: 25px;
    }

    #hero button{
        font-size: 15px;
    }

    #somos .container{
        padding: 80px;
    }

    .texto h2{
        font-size: 20px;
    }
    .texto p{
        align-items: center;
        text-align: center;
        font: 10px;
        width: 230px;
    }
    #nuestros-servicios h2{
        font-size: 25px;
    }

    #nuestros-servicios p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    #nuestros-servicios .carta{
        width: 280px;
        align-items: center;
        text-align: center;
    }

    #about h3{
        font-size: 30px;
    }

    #content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #content .card{
        width: 250px;
        height: 450px;
    }
    .card{
        text-align: center;
        align-items: center;
    }
    #contact{
        display: flex;
        flex-direction: column;
    }
    .info-contacto{
        font-size: 20px;
        text-align: center;
    }
    .medios-comunicacion{
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #formulario{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #formulario form{
        align-items: center;
        width: 250px;
    } 
    #formulario input{
        width: 250px;
    }

    footer{
        font-size: 15px;
    }

}
